@charset "utf-8";
/* CSS Document */

* {
	font-family: "franklin gothic medium", verdana, sans-serif;
	font-size: 1.6rem;
}


.top_menu {

}


.top_menu_item {
	border-style: solid;
	border: 2px;
	padding: .25rem;
	list-style: none;	
}