@charset "utf-8";
/* CSS Document */

form {
	font-family: arial; 	
}

#buttondetails {
	margin-left: 25%;
}

.note_label {
	width: 15%;
	margin-left: 1.5%;	
}

.note_input {
	margin-left: 20%;	
	margin-top: 1.5%;
}

#note_output {
	margin-left: 10%;	
}
